<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>226545826986-61eo3nj6rbh1dsao1rg8isddlqhqnsra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226545826986-61eo3nj6rbh1dsao1rg8isddlqhqnsra</string>
	<key>API_KEY</key>
	<string>AIzaSyAko911NA8ExGLl9w4WlA93E7GuYc8nyrE</string>
	<key>GCM_SENDER_ID</key>
	<string>226545826986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Pasut.DemoDatabase.DemoDatabase</string>
	<key>PROJECT_ID</key>
	<string>demodatabase-9cb64</string>
	<key>STORAGE_BUCKET</key>
	<string>demodatabase-9cb64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226545826986:ios:25da44b81e8ad905</string>
	<key>DATABASE_URL</key>
	<string>https://demodatabase-9cb64.firebaseio.com</string>
</dict>
</plist>